<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TraGradesMapper">
    
    <resultMap type="TraGrades" id="TraGradesResult">
        <result property="id"    column="id"    />
        <result property="traName"    column="tra_name"    />
        <result property="traCount"    column="tra_count"    />
        <result property="createTime"    column="create_time"    />
        <result property="userName"    column="user_name"    />
    </resultMap>

    <sql id="selectTraGradesVo">
        select id, tra_name, tra_count, create_time, user_name from tra_grades
    </sql>

    <select id="selectTraGradesList" parameterType="TraGrades" resultMap="TraGradesResult">
        <include refid="selectTraGradesVo"/>
        <where>  
            <if test="traName != null  and traName != ''"> and tra_name like concat('%', #{traName}, '%')</if>
            <if test="traCount != null "> and tra_count = #{traCount}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        </where>
    </select>
    
    <select id="selectTraGradesById" parameterType="Long" resultMap="TraGradesResult">
        <include refid="selectTraGradesVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTraGrades" parameterType="TraGrades" useGeneratedKeys="true" keyProperty="id">
        insert into tra_grades
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="traName != null and traName != ''">tra_name,</if>
            <if test="traCount != null">tra_count,</if>
            <if test="createTime != null">create_time,</if>
            <if test="userName != null and userName != ''">user_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="traName != null and traName != ''">#{traName},</if>
            <if test="traCount != null">#{traCount},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
         </trim>
    </insert>

    <update id="updateTraGrades" parameterType="TraGrades">
        update tra_grades
        <trim prefix="SET" suffixOverrides=",">
            <if test="traName != null and traName != ''">tra_name = #{traName},</if>
            <if test="traCount != null">tra_count = #{traCount},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTraGradesById" parameterType="Long">
        delete from tra_grades where id = #{id}
    </delete>

    <delete id="deleteTraGradesByIds" parameterType="String">
        delete from tra_grades where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>